@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
.navigators{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}